[submodule "tardigrades-mint-machine"]
	path = tardigrades-mint-machine
	url = https://github.com/GabeDottl/Tardigrades-Mint-Machine
[submodule "nextjs-candy-machinev2"]
	path = nextjs-candy-machinev2
	url = https://github.com/GabeDottl/next-candy-machinev2
[submodule "metaplex.git"]
	path = metaplex.git
	url = git@github.com:metaplex-foundation/metaplex.git
[submodule "metaplex"]
	path = metaplex
	url = git@github.com:metaplex-foundation/metaplex.git
[submodule "anchor-example"]
	path = anchor-example
	url = https://github.com/project-serum/anchor
[submodule "hearttoken_old"]
	path = hearttoken_old
	url = git@github.com:GabeDottl/hearttoken_solana_template.git
[submodule "private"]
	path = private
	url = git@github.com:GabeDottl/private.git
